body {
    margin: 0;
    font-family: 'Roboto';
}
.container-parent {
    width: 70%;
    height: auto;
    position: relative;
    top: calc(50vh - 300px);
    left: calc(50vw - 35%); 
    border: 1px solid black;
}
.container {
    width: 100%;
    height: auto;
}
.container .header {
    width: 100%;
    height: auto;
    font-size: 20px;
}
.container .categorie {
    width: 100%;
    height: auto;
}
.container .categorie .header {
    width: 100%;
    height: auto;
    font-size: 20px;
}
.container .categorie .header p {
    padding-left: 5px;
}
.container .categorie .subject {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

/* Subject element */
.container .categorie .subject .name {
    width: 60%;
    padding: 10px 5px;
    border-right: 1px solid black;
}
.container .categorie .subject .total_msg {
    width: 10%;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}
.container .categorie .subject .last_subject {
    width: 30%;
    padding: 10px 20px;
    border-left: 1px solid black;
}
/* ---------------------------- */

/* Couleur de fond */
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
/* ---------------------------- */
