body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #323232;
}

#login_panel {
    width: 300px;
    height: 230px;
    background-color: #fff;/*#288dc3*/
    position: fixed;
    top: -200px;
    left: calc(100vw - 600px);
    cursor: pointer;
    z-index: 9999;
    position: relative;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#login_panel .btn_panel {
    width: 100%;
    height: 30px;
    background-color: #288dc3;
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: #fff;
}
#login_panel #formco {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 0px;
}
#login_panel #formco input {
    display: block;
    width: 90%;
    height: 25px;
    margin: auto;
    margin-bottom: 5px;
    
}
#login_panel #formco input[type="submit"] {
    display: block;
    width: 90%;
    height: 25px;
    margin: auto;
    background-color: #288dc3;
    border: none;
    color: #fff;
}
.container-parent {
    width: 70%;
    height: auto;
    position: relative;
    top: calc(50vh - 600px);
    left: calc(50vw - 35%); 
    margin-bottom: 50px;
}
.main {
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    background-color: #288dc3;
}
.main ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main ul li {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    transition: all 0.5s;
}
.main ul li:hover {
    background-color: rgba(255,255,255,0.1);
}
.main ul li a {
    width: 100%;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto-Light';
    transition: all 0.5s;
}
.main ul li a:hover {
    letter-spacing: 2px;
}
.container {
    width: 100%;
    height: auto;
    background-color: #ececec;
}
.container .header {
    width: 100%;
    height: auto;
    font-size: 20px;
}
.container .categorie {
    width: 100%;
    height: auto;
}
.container .categorie .header {
    width: 100%;
    height: auto;
    font-size: 20px;
    background-color: #288dc3;
    font-family: 'Roboto-Thin';
    color: #fff;
}
.container .categorie .header p {
    padding: 10px 20px;
}

/* Subject element */
.container .categorie .subject {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    background-color: #fff;
    color: #323232;
}
.container .categorie .subject .name {
    width: 100%;
    padding: 10px 5px;
    border-right: 1px solid rgba(0,0,0,0.1);
}
.container .categorie .subject .name a {
    color: #323232;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto-Light';
    padding-left: 30px;
}
.container .categorie .subject .name_sujet {
    width: 70%;
    padding: 10px 5px;
}
.container .categorie .subject .date {
    width: 10%;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
}
.container .categorie .subject .user {
    width: 20%;
    padding: 10px 20px;
    border-left: 1px solid black;
}
/* ---------------------------- */

/* Sujet element */
.container .sujet {
    width: 100%;
    height: auto;
    margin: auto;
}
.container .sujet .titre {
    width: 100%;
    height: auto;
    font-size: 20px;
    background-color: #288dc3;
}
.container .sujet .titre p {
    font-family: 'Roboto-Thin';
    padding: 10px 20px;
    color: #fff;
}
/*.container .sujet p {
    
}*/
.container .sujet .posted {
    font-size: 20px;
    font-weight: bold;
}
/* ---------------------------- */
/* Couleur de fond */
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.button {
    width: 15%;
    height: auto;
    font-size: 16px;
    background-color: #288dc3;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    padding: 2px 5px;
}
/* ---------------------------- */
